/*
  Red: #B00;
  Dark Red: #900;

  Max page width: 900px
  Nav width: 25%, with 5% right margin
  Main width: 65%

  CSS you'll need:
  - max-width
  - @media
*/
*{
  box-sizing: border-box;
}
body {
  background-color: #333;
  font: 15px/1.4 Helvetica, Arial, sans-serif;
  margin: 0;
  width: 900px;
  margin:auto;
  padding: 25px 25px 50px;
}

a {
  color: #C00;
}

.page {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.header {
  background: black url("../images/header.png") no-repeat center top;
  background-size: cover;
  border-bottom: 10px solid #000;
  color: #fff;
  padding: 20px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.header img {
  width: 30%;
}
main {
  display: flex;
}
nav {
  background-color: #B00;
  margin: 0;
  margin-right: 5%;
  padding: 0;
  flex-grow: 1;
  min-width: 100px;
  height: 100%;
}

nav ul {
  list-style: none;
}

nav a {
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #D00;
}

section {
  margin: 0 0 30px;
  flex-grow: 5;
  width: 400px;
}

section img {
  margin-right: 20px;
  margin-bottom: 5px;
  width: 30%;
}

.breadcrumbs {
  list-style: none;
  margin: 20px 0;
  font-weight: bold;
  padding: 0;
  display: flex;
}

.breadcrumbs li {
  margin: 0 10px;
}

.footer {
  background-color: #B00;
  clear: both;
  margin: 0;
  padding: 10px 20px;
}

.footer a {
  color: white;
}

.footer li {
  border-right: 1px solid #900;
  display: inline;
  margin-right: 15px;
  padding-right: 15px;
}
@media only screen and (max-width:900px)

{

  .header {
    width:100%
 
  }

  }
}  nav{
    margin : 5%;
  

  }
  main{
   display:flex; 
  flex-direction: column;
  }
  
}
.body {
  margin-right:0;

}

 
.page main nav ul {
  display: flex;
flex-direction:row;
align-content:center; 


}
section ul img {
flex

}
.footer{
  display: none;
}

